<ion-view view-title="Search">
  <ion-content>
    <div class="top-profile">
    	<img class="profile" src="img/elias.jpg">
    </div>
    <h1 class="name">Elias Douglas</h1>

    <div class="list card">
    	<a href="" class="item item-icon-left">
    		<i class="icon ion-edit"></i>
    		Editar Perfil
    	</a>
    	<a href="" class="item item-icon-left">
    		<i class="icon ion-flag"></i>
    		Lugares Favoritos
    	</a>
    	<a href="" class="item item-icon-left">
    		<i class="icon ion-ios-star"></i>
    		Avaliações
    	</a>
    	<a href="" class="item item-icon-left">
    		<i class="icon ion-home"></i>
    		Cadastro de Lugares
    	</a>
    	<a href="" class="item item-icon-left">
    		<i class="icon ion-android-exit"></i>
    		Sair
    	</a>
    </div>
  </ion-content>
</ion-view>
